{% extends "layout.html" %}   

{% block title %} Mensajes {% endblock%}

{% block header %}
<img class="logo logo-header" src="/static/img/logo.jpeg" alt="Logo de Atahualpa Dancing">
{% endblock%}

{%block body%}

<div class="principal">
  {%if contacts%}
  <div class="wrapper-table">
    <h2>REGISTRO</h2><br>
    <table>
     <tr>
       <th>FECHA</th>

       <th>NOMBRE</th>
   
       <th>TELÉFONO</th>
   
       <th>MAIL</th>

       <th>MENSAJE</th>
   
     </tr>
      {%for contacts in contacts%}
        <tr>
          <td>{{contacts[5]}}</td>
          <td>{{contacts[1]}}</td>
          <td>{{contacts[2]}}</td>
          <td>{{contacts[3]}}</td>
          <td>{{contacts[4]}}</td>
        </tr>   
      {%endfor%}
    </table>
  </div>
  {%endif%}
   
</div>

{% endblock %}