{% extends "layout.html" %}    
{% block title %}Nosotros {% endblock%}
{%block body%}

<div class="principal v-center">
  <img class="logo logo-index" src="/static/img/logo.jpeg" alt="Logo de Atahualpa Dancing">
  <div class="wrap">
    
    <div class="circle">
  
      <img src="/static/img/pablo.jpeg" alt="musico tocando la melodica">
  
      </div>
      <div class="circle">
  
        <img src="/static/img/ale.jpeg" alt="musico tocando el bombo leguero">
    
        </div>
        <div class="circle">
  
          <img src="/static/img/dani.jpeg" alt="musico cantando y tocando la guitarra criolla">
      
          </div>
    
  </div>
  <div >

        <P class="we">Somos un trío de folclore argentino, plantados en las raíces de la tradición, 
          pero nutriéndonos de otras músicas. </p>
        <P class="we"><span class="rebeldia index-anim"><strong>Atahualpa</strong> es rebeldía</span></p>
        <P class="we"><span class="movimiento index-anim"><strong>Dancing</strong> es movimiento</span></P>
  </div>

</div>

{% endblock %}
